XSD/isepc-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright TNO Geologische Dienst Nederland

    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.

    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

-->
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:epccom="http://www.broservices.nl/xsd/epccommon/1.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:isepc="http://www.broservices.nl/xsd/isepc/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/isepc/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0.0">

    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>

    <!--
	<xs:import namespace="http://www.broservices.nl/xsd/epccommon/1.0" schemaLocation="https://schema.broservices.nl/xsd/isepc/1.0/epccommon.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	-->
	<xs:import namespace="http://www.broservices.nl/xsd/epccommon/1.0" schemaLocation="epccommon.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-profile.xsd"/>
    
    <xs:element name="intakeResponse" type="brocom:IntakeResponseType" />
	<xs:element name="parseFault" type="brocom:ParseFaultType" />

    <xs:element name="registrationRequest" type="isepc:RegistrationRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het bericht RegistrationRequest is een specialisatie van de abstract klasse RegistrationRequest uit de package brocommon, waaraan het een sourceDocument toevoegt. Met dit bericht kan een nog niet geregistreerde mijnbouwconstructie in de BRO worden opgenomen of kan een een geregistreerde mijnbouwconstructie aangevuld of voltooid worden.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RegistrationRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:RegistrationRequestType">
                <xs:sequence>
                    <xs:element name="sourceDocument"
                           type="epccom:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het element sourceDocument bevat gegevens die in het BRO-systeem geregistreerd zullen worden en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het registratieverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="replaceRequest" type="isepc:ReplaceRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="ReplaceRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>CorrectionReason</CodeListName>
                                <CodeListURI>urn:bro:epc:CorrectionReason</CodeListURI>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sourceDocument"
                           type="isepc:ReplaceableSourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="insertRequest" type="isepc:InsertRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="InsertRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>CorrectionReason</CodeListName>
                                <CodeListURI>urn:bro:epc:CorrectionReason</CodeListURI>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sourceDocument"
                           type="isepc:InsertableSourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="moveRequest" type="isepc:MoveRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MoveRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>CorrectionReason</CodeListName>
                                <CodeListURI>urn:bro:epc:CorrectionReason</CodeListURI>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sourceDocument"
                           type="isepc:MoveableSourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="deleteRequest" type="isepc:DeleteRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="DeleteRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>CorrectionReason</CodeListName>
                                <CodeListURI>urn:bro:epc:CorrectionReason</CodeListURI>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sourceDocument"
                           type="isepc:DeleteableSourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CorrectionReasonType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:epc:CorrectionReason"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ReplaceableSourceDocumentType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="epccom:EPC_StartRegistrationBorehole"/>
            <xs:element ref="epccom:EPC_AddBoreholeSegment"/>
            <xs:element ref="epccom:EPC_StartRegistrationMiningSystem"/>
            <xs:element ref="epccom:EPC_MiningSystemExtended"/>
            <xs:element ref="epccom:EPC_MiningSystemChanged"/>
            <xs:element ref="epccom:EPC_StartRegistrationSaltCavern"/>
            <xs:element ref="epccom:EPC_CavernContourChanged"/>
            <xs:element ref="epccom:EPC_OwnerChanged"/>
            <xs:element ref="epccom:EPC_LegalStatusChanged"/>
            <xs:element ref="epccom:EPC_EndRegistration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InsertableSourceDocumentType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="epccom:EPC_AddBoreholeSegment"/>
            <xs:element ref="epccom:EPC_MiningSystemExtended"/>
            <xs:element ref="epccom:EPC_MiningSystemChanged"/>
            <xs:element ref="epccom:EPC_CavernContourChanged"/>
            <xs:element ref="epccom:EPC_OwnerChanged"/>
            <xs:element ref="epccom:EPC_LegalStatusChanged"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MoveableSourceDocumentType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="epccom:EPC_StartRegistrationBorehole"/>
            <xs:element ref="epccom:EPC_AddBoreholeSegment"/>
            <xs:element ref="epccom:EPC_StartRegistrationMiningSystem"/>
            <xs:element ref="epccom:EPC_MiningSystemExtended"/>
            <xs:element ref="epccom:EPC_MiningSystemChanged"/>
            <xs:element ref="epccom:EPC_StartRegistrationSaltCavern"/>
            <xs:element ref="epccom:EPC_CavernContourChanged"/>
            <xs:element ref="epccom:EPC_OwnerChanged"/>
            <xs:element ref="epccom:EPC_LegalStatusChanged"/>
            <xs:element ref="epccom:EPC_EndRegistration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DeleteableSourceDocumentType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="epccom:EPC_AddBoreholeSegment"/>
            <xs:element ref="epccom:EPC_MiningSystemExtended"/>
            <xs:element ref="epccom:EPC_MiningSystemChanged"/>
            <xs:element ref="epccom:EPC_CavernContourChanged"/>
            <xs:element ref="epccom:EPC_OwnerChanged"/>
            <xs:element ref="epccom:EPC_LegalStatusChanged"/>
            <xs:element ref="epccom:EPC_EndRegistration"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
