XSD/isepc-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:epccom="http://www.broservices.nl/xsd/epccommon/1.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:isepc="http://www.broservices.nl/xsd/isepc/1.0"
           xmlns:math="http://www.w3.org/2005/xpath-functions/math"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/isepc/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0.0">
   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>
	<!--<xs:import namespace="http://www.broservices.nl/xsd/epccommon/1.0" schemaLocation="https://schema.broservices.nl/xsd/isepc/1.0/epccommon.xsd"/>-->   
   <xs:import namespace="http://www.broservices.nl/xsd/epccommon/1.0" schemaLocation="file:\\\C:\Apache24\htdocs\EPC\20201006 EPC logisch\epccommon.xsd"/>
   <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
	<xs:element name="intakeResponse" type="brocom:IntakeResponseType" />
	<xs:element name="parseFault" type="brocom:ParseFaultType" />   
   <xs:element name="MiningConstruction"
               type="isepc:MiningConstructionType"
               abstract="true"
               substitutionGroup="gml:AbstractFeature"/>
   <xs:complexType name="MiningConstructionType" abstract="true">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="objectIdAccountableParty"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder van het regfistratieobject. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="deliveryContext"
                           minOccurs="1"
                           maxOccurs="1"
                           type="epccom:DeliveryContextType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DeliveryContext</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie. Het kader waarbinnen mijnbouwwetvergunningen worden verleend is de Mijnbouwwet uit 2003. Er wordt geen onderscheid gemaakt naar versies.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="legalStatus"
                           minOccurs="0"
                           maxOccurs="1"
                           type="epccom:LegalStatusType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>LegalStatus</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De status van een mijnbouwconstructie op basis van de mijnbouwwetgeving.
Explanation: De wettelijke status is optioneel wanneer de mijnbouwconstructie een zoutcaverne is. Een mijnstelsel kan in gebruik zijn voor zowel mijnbouwactiviteiten als voor andere doeleinden (bijv. toerisme). In de registratie ondergrond wordt niet vastgelegd dat een mijnstelsel in gebruik is voor andere doeleinden. Als een mijnstelsel in het geheel niet meer wordt gebruikt of uitsluitend voor andere doeleinden dan geldt de wettelijke status 'BuitenGebruikMijnbouw'.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="owner"
                           minOccurs="1"
                           maxOccurs="1"
                           type="brocom:OrganizationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die eigenaar is van het object dat aan de basisregistratie ondergrond is aangeleverd door de dataleverancier, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: De eigenaar van een boorgat is gelijk aan de vergunninghouder van de vergunning waar het boorgat onder valt. In het geval de vergunninghouder een consortium is, dan is de penvoerder van het consortium de eigenaar van het boorgat. In het geval het boorgat een alleenstaand geabandonneerd boorgat is, dan is de organisatie die eigenaar was ten tijde van de abandonnering de (laatste) eigenaar van het boorgat. In het geval het boorgat behoort tot een productie-installatie dan kan de eigenaar wijzigen tot het moment dat de gehele productie-installatie is geabandonneerd. De organisatie die eigenaar was ten tijde van de abandonnering van de gehele productie-installatie is de (laatste) eigenaar van het boorgat. De eigenaar van de zoutcaverne is gelijk aan de eigenaar van het boorgat of de boorgaten waarvan één of meerdere boortrajecten de zoutcaverne ontsluiten. In de praktijk komt het niet voor dat er verschillende eigenaren zijn van de boorgaten via welke een zoutcaverne wordt ontsloten.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="lifespan"
                           nillable="false"
                           type="epccom:MiningConstructionHistoryType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De periode gedurende welke de mijnbouwconstructie in de werkelijkheid bestaat of heeft bestaan.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MiningConstructionPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:MiningConstruction"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_StartRegistrationBorehole"
               type="isepc:EPC_StartRegistrationBoreholeType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden bij de eerste registratie van een mijnbouwconstructie van het soort boorgat in de BRO. Het document omvat gegevens over het boorgat, waaronder de locatie en het primaire boortraject.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_StartRegistrationBoreholeType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedBorehole"
                           nillable="false"
                           type="isepc:BoreholePropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_StartRegistrationBoreholePropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_StartRegistrationBorehole"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Borehole"
               type="isepc:BoreholeType"
               substitutionGroup="isepc:MiningConstruction"/>
   <xs:complexType name="BoreholeType">
      <xs:complexContent>
         <xs:extension base="isepc:MiningConstructionType">
            <xs:sequence>
               <xs:element name="location"
                           type="gml:PointPropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De locatie van de oorsprong van het boorgat.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="horizontalPositioning"
                           nillable="false"
                           type="epccom:HorizontalPositioningType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over het bepalen van de locatie van de oorsprong van het boorgat.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="standardizedLocation"
                           nillable="false"
                           type="epccom:StandardizedLocationBoreholeType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over de locatie van een boorgat zoals die door de basisregistratie ondergrond zijn getransformeerd.
Explanation: De locatie van een boorgat hoeft zich niet op het aardoppervlak te bevinden, het kan te land zowel op, boven als onder het aardoppervlak gelegen zijn en te zee boven de waterspiegel.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="deliveredVerticalPosition"
                           nillable="false"
                           type="epccom:DeliveredVerticalPositionType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over de plaats van de oorsprong van het boorgat in het verticale vlak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="unbounded"
                           name="relatedBoreholeSegment"
                           nillable="false"
                           type="epccom:BoreholeSegmentPropertyType"/>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="explorationProductionLicence"
                           nillable="false"
                           type="epccom:ExplorationProductionLicencePropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BoreholePropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:Borehole"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_AddBoreholeSegment"
               type="isepc:EPC_AddBoreholeSegmentType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden wanneer er na de eerste registratie van een boorgat een boortraject is/wordt toegevoegd aan een bestaand boorgat.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_AddBoreholeSegmentType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="existingBoreholeSegment"
                           nillable="false"
                           type="isepc:ExistingBoreholeSegmentLocationType"/>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedBoreholeSegment"
                           nillable="false"
                           type="epccom:BoreholeSegmentPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_AddBoreholeSegmentPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_AddBoreholeSegment"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_StartRegistrationMiningSystem"
               type="isepc:EPC_StartRegistrationMiningSystemType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden bij de eerste registratie van een mijnbouwconstructie van het soort mijnstelsel in de BRO. Het document kan gebruikt worden voor de aanlevering van zowel archiefgegevens als gegevens over nieuw aangelegde of ontdekte mijnstelsels. Het document omvat gegevens over het mijnstelsel, eventuele toegangen, transportzones en ontginningszones. Voor steenkoolmijnen geldt ook dat er gegevens kunnen zijn over de mijnkaarten waarop deze zijn weergegeven.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_StartRegistrationMiningSystemType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedMiningsystem"
                           nillable="false"
                           type="isepc:MiningSystemPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_StartRegistrationMiningSystemPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_StartRegistrationMiningSystem"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_MiningSystemChanged"
               type="isepc:EPC_MiningSystemChangedType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden wanneer er na de eerste registratie van een mijnstelsel een toegang, transportzone of ontginningszone wordt toegevoegd, een transport- of ontginningszone wordt uitgebreid, een toegang, transport- of ontginningszone gedeeltelijk of geheel is afgegraven, de ontginningsstatus van een ontginningszone wijzigt of het gemijnde gebied van het mijnstelsel wijzigd.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_MiningSystemChangedType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedMiningSystem"
                           nillable="false"
                           type="epccom:MiningSystemPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_MiningSystemChangedPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_MiningSystemChanged"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_StartRegistrationSaltCavern"
               type="isepc:EPC_StartRegistrationSaltCavernType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden bij de eerste registratie van een mijnbouwconstructie van het soort zoutcaverne in de BRO. Het document omvat gegevens over de zoutcaverne, waaronder de locatie.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_StartRegistrationSaltCavernType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="eventDate"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie. Het kader waarbinnen mijnbouwwetvergunningen worden verleend is de Mijnbouwwet uit 2003. Er wordt geen onderscheid gemaakt naar versies.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedSaltCavern"
                           nillable="false"
                           type="isepc:SaltCavernPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_StartRegistrationSaltCavernPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_StartRegistrationSaltCavern"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_CavernContourChanged"
               type="isepc:EPC_CavernContourChangedType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden wanneer er na de eerste registratie van de zoutcaverne de holruimtecontour van een zoutcaverne is gewijzigd.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_CavernContourChangedType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="dateEvent"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedSaltCavern"
                           nillable="false"
                           type="epccom:SaltCavernPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_CavernContourChangedPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_CavernContourChanged"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_OwnerChanged"
               type="isepc:EPC_OwnerChangedType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden wanneer de eigenaar van een mijnbouwconstructie is gewijzigd.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_OwnerChangedType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="dateEvent"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedMinigConstuction"
                           nillable="false"
                           type="isepc:MiningConstructionPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_OwnerChangedPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_OwnerChanged"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="MiningSystem"
               type="isepc:MiningSystemType"
               substitutionGroup="isepc:MiningConstruction"/>
   <xs:complexType name="MiningSystemType">
      <xs:complexContent>
         <xs:extension base="isepc:MiningConstructionType">
            <xs:sequence>
               <xs:element name="name" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De unieke identificatie van een mijnstelsel middels de voorkeursbenaming.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:length value="100"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="code" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding van een mijnstelsel in de vorm van een code.
Explanation: Een code is bij steenkoolmijnen verplicht omdat deze code opgenomen is in de mijnkaartcode van de mijnkaarten die bij dat mijnstelsel behoren.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:length value="5"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="alternativeName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding van een mijnstelsel middels een alternatieve benaming.
Explanation: Er kunnen lokaal meer alternatieve benamingen in gebruik zijn om het mijnstelsel aan te duiden.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:length value="100"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="miningSystemKind"
                           minOccurs="1"
                           maxOccurs="1"
                           type="epccom:MiningSystemKindType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>MiningSystemKind</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding van het primaire gebruik waarvoor een mijnstelsel is aangelegd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="excavated"
                           type="brocom:IndicationYesNoType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Indicatie of een mijnstelsel is verdwenen vanwege afgraving.
Explanation: Van een mijnstelsel dat is afgegraven, is het gemijnd gebied gelijk aan de contour zoals die was juist voordat het mijnstelsel volledig werd afgegraven.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="miningArea"
                           type="gml:MultiSurfaceType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De contour van het mijnstelsel, geprojecteerd op het aardoppervlak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="horizontalPositioningMiningArea"
                           nillable="false"
                           type="epccom:HorizontalPositioningType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over het bepalen van het gemijnd gebied.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="standardizedLocation"
                           nillable="false"
                           type="epccom:StandardizedLocationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over de locatie van een boorgat zoals die door de basisregistratie ondergrond zijn getransformeerd.
Explanation: De locatie van een mijnstelsel bevindt zich niet op het aardoppervlak, het is een projectie op het aardoppervlak van de maximale ondergrondse contour ervan.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="entrance"
                           nillable="false"
                           type="epccom:EntrancePropertyType"/>
               <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="transportationZone"
                           nillable="false"
                           type="epccom:TransportationZonePropertyType"/>
               <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="exploitationZone"
                           nillable="false"
                           type="epccom:ExploitationZonePropertyType"/>
               <xs:element minOccurs="1"
                           maxOccurs="unbounded"
                           name="explorationProductionLicence"
                           nillable="false"
                           type="epccom:ExplorationProductionLicencePropertyType"/>
               <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="miningMap"
                           nillable="false"
                           type="epccom:MiningMapPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MiningSystemPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:MiningSystem"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_EndRegistration"
               type="isepc:EPC_EndRegistrationType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden wanneer een mijnbouwconstructie ophoudt te bestaan in de werkelijkheid.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_EndRegistrationType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="dateEvent"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="excavated"
                           type="brocom:IndicationYesNoType"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_EndRegistrationPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_EndRegistration"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="SaltCavern"
               type="isepc:SaltCavernType"
               substitutionGroup="isepc:MiningConstruction"/>
   <xs:complexType name="SaltCavernType">
      <xs:complexContent>
         <xs:extension base="isepc:MiningConstructionType">
            <xs:sequence>
               <xs:element name="cavernMeasurementCode"
                           type="xs:string"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie van een cavernemeting in de registratie ondergrond.
Explanation: De cavernemetingcode komt overeen met de code waaronder de cavernemeting gegevens beschikbaar worden gesteld. De cavernemetingcode wordt alleen in de BRO opgenomen als de cavernemetingrapporten waarin de gegevens staan, openbaar raadpleegbaar zijn.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="publiclyAvailable"
                           type="brocom:IndicationYesNoType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Indicatie of de holruimtecontour publiek toegankelijk is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="cavernContour"
                           type="gml:SurfacePropertyType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De maximale cumulatieve contour van de in de ondergrond aanwezige caverne, geprojecteerd op het aardoppervlak.
Explanation: De holruimtecontrour is publiek beschikbaar wanneer het attribuut openbaar raadpleegbaar gelijk is aan 'Ja'.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="horizontalPositioningArea"
                           nillable="false"
                           type="epccom:HorizontalPositioningType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over het bepalen van de holruimtecontour van de zoutcaverne.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="standardizedLocation"
                           nillable="false"
                           type="epccom:StandardizedLocationSaltcavernType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over de locatie van een boorgat zoals die door de basisregistratie ondergrond zijn getransformeerd.
Explanation: De locatie van de zoutcaverne ligt niet op het aardoppervlak, het is een projectie op het aardoppervlak van de maximale cumulatieve ondergrondse contour ervan.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="unbounded"
                           name="boreholeSegment"
                           nillable="false"
                           type="epccom:BoreholeSegmentPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SaltCavernPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:SaltCavern"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EPC_LegalStatusChanged"
               type="isepc:EPC_LegalStatusChangedType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit brondocument wordt aangeboden wanneer de wettelijke status van een mijnbouwcontructie is gewijzigd.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EPC_LegalStatusChangedType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="dateEvent"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="relatedMiningConstruction"
                           nillable="false"
                           type="isepc:MiningConstructionPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EPC_LegalStatusChangedPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:EPC_LegalStatusChanged"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>
   <xs:element name="RegistrationRequest"
               type="isepc:RegistrationRequestType"/>
   <xs:complexType name="RegistrationRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:RegistrationRequestType">
            <xs:sequence>
               <xs:element name="sourceDocument"
                           type="isepc:SourceDocumentPropertyType"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="InsertRequest"
               type="isepc:InsertRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="InsertRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:CorrectionRequestType">
            <xs:sequence>
               <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>CorrectionReason</CodeListName>
                        <CodeListURI>urn:brocom:gmn:CorrectionReason</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="sourceDocument"
                           type="isepc:InsertableSourceDocumentPropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="MoveRequest"
               type="isepc:MoveRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="MoveRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:CorrectionRequestType">
            <xs:sequence>
               <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>CorrectionReason</CodeListName>
                        <CodeListURI>urn:brocom:gmn:CorrectionReason</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="sourceDocument"
                           type="isepc:MoveableSourceDocumentPropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DeleteRequest"
               type="isepc:DeleteRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DeleteRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:CorrectionRequestType">
            <xs:sequence>
               <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>CorrectionReason</CodeListName>
                        <CodeListURI>urn:brocom:gmn:CorrectionReason</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="sourceDocument"
                           type="isepc:DeleteableSourceDocumentPropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
    <xs:element name="ReplaceRequest"
               type="isepc:ReplaceRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest (vervangverzoek) is een specialisatie van de abstract klasse CorrectionRequest uit de package brocommon, waaraan het een correctionReason en een sourceDocument toevoegt. Met dit bericht kan een bronhouder en/of dataleverancier in de BRO opgenomen gegevens vervangen (corrigeren). De eenheid van vervangen is een brondocument, dat eerder met een registrationRequest (registratieverzoek) is aangeboden bij de BRO. Het is niet mogelijk de waarde van een individueel attribuut te corrigeren.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ReplaceRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:CorrectionRequestType">
            <xs:sequence>
               <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isepc:CorrectionReasonType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>CorrectionReason</CodeListName>
                        <CodeListURI>urn:brocom:gmn:CorrectionReason</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="sourceDocument"
                           type="isepc:ReplaceableSourceDocumentPropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die de in de BRO opgenomen gegevens zullen vervangen en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ExistingBoreholeSegmentLocationType">
      <xs:sequence>
         <xs:element name="boreholeSegmentCode"
                     type="xs:integer"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="geometry"
                     type="gml:CurveType"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De ligging van het boortraject in de ondergrond, uitgedrukt in een driedimensionale curve.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CorrectionReasonType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:brocom:gmn:CorrectionReason"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:element name="SourceDocument" type="isepc:SourceDocumentType"/>
   <xs:complexType name="SourceDocumentType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="isepc:EPC_StartRegistrationBorehole"/>
         <xs:element ref="isepc:EPC_StartRegistrationMiningSystem"/>
         <xs:element ref="isepc:EPC_StartRegistrationSaltCavern"/>
         <xs:element ref="isepc:EPC_AddBoreholeSegment"/>
         <xs:element ref="isepc:EPC_MiningSystemChanged"/>
         <xs:element ref="isepc:EPC_CavernContourChanged"/>
         <xs:element ref="isepc:EPC_OwnerChanged"/>
         <xs:element ref="isepc:EPC_LegalStatusChanged"/>
         <xs:element ref="isepc:EPC_EndRegistration"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="SourceDocumentPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:SourceDocument"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="InsertableSourceDocument"
               type="isepc:InsertableSourceDocumentType"/>
   <xs:complexType name="InsertableSourceDocumentType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="isepc:EPC_AddBoreholeSegment"/>
         <xs:element ref="isepc:EPC_MiningSystemChanged"/>
         <xs:element ref="isepc:EPC_CavernContourChanged"/>
         <xs:element ref="isepc:EPC_OwnerChanged"/>
         <xs:element ref="isepc:EPC_LegalStatusChanged"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="InsertableSourceDocumentPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:InsertableSourceDocument"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ReplaceableSourceDocument"
               type="isepc:ReplaceableSourceDocumentType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datatype ReplaceableSourceDocument biedt de keuze uit een aantal verschillende types brondocumenten, waarvan er één opgenomen is in een replaceRequest (vervangverzoek).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ReplaceableSourceDocumentType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="isepc:EPC_StartRegistrationBorehole"/>
         <xs:element ref="isepc:EPC_AddBoreholeSegment"/>
         <xs:element ref="isepc:EPC_StartRegistrationMiningSystem"/>
         <xs:element ref="isepc:EPC_MiningSystemChanged"/>
         <xs:element ref="isepc:EPC_StartRegistrationSaltCavern"/>
         <xs:element ref="isepc:EPC_CavernContourChanged"/>
         <xs:element ref="isepc:EPC_OwnerChanged"/>
         <xs:element ref="isepc:EPC_LegalStatusChanged"/>
         <xs:element ref="isepc:EPC_EndRegistration"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="ReplaceableSourceDocumentPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:ReplaceableSourceDocument"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="MoveableSourceDocument" type="isepc:MoveableSourceDocumentType"/>
   <xs:complexType name="MoveableSourceDocumentType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="isepc:EPC_StartRegistrationBorehole"/>
         <xs:element ref="isepc:EPC_AddBoreholeSegment"/>
         <xs:element ref="isepc:EPC_StartRegistrationMiningSystem"/>
         <xs:element ref="isepc:EPC_MiningSystemChanged"/>
         <xs:element ref="isepc:EPC_StartRegistrationSaltCavern"/>
         <xs:element ref="isepc:EPC_CavernContourChanged"/>
         <xs:element ref="isepc:EPC_OwnerChanged"/>
         <xs:element ref="isepc:EPC_LegalStatusChanged"/>
         <xs:element ref="isepc:EPC_EndRegistration"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="MoveableSourceDocumentPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:MoveableSourceDocument"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DeleteableSourceDocument"
               type="isepc:DeleteableSourceDocumentType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datatype DeleteableSourceDocument biedt de keuze uit een aantal verschillende types brondocumenten, waarvan er één opgenomen is in een deleteRequest (verwijderverzoek).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DeleteableSourceDocumentType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="isepc:EPC_AddBoreholeSegment"/>
         <xs:element ref="isepc:EPC_MiningSystemChanged"/>
         <xs:element ref="isepc:EPC_CavernContourChanged"/>
         <xs:element ref="isepc:EPC_OwnerChanged"/>
         <xs:element ref="isepc:EPC_LegalStatusChanged"/>
         <xs:element ref="isepc:EPC_EndRegistration"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="DeleteableSourceDocumentPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="isepc:DeleteableSourceDocument"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
